* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* LAYOUT HELPER */

.flexCenter { display: flex; justify-content: center; align-items: center; }
.flexStartColumn { display: flex; justify-content: center; align-items: flex-start; flex-direction: column;  }
.flexCenterColumn { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.imgsContain { width: 100%; height: 100%; object-fit: contain; }
.imgsCover { width: 100%; height: 100%; object-fit: cover; }
#imgsRadius { width: 100%; height: 100%; object-fit: contain; border-radius: 100%; }

:root {
    --black: #090909;
    --green: #89A482;
    --white: #fffffd; 
    --yellow: #FEF3E2;
    --red: #D96868;
    
    --text-color: #a5a5a5;
    --sub-text-color: #696969;

    --main-title-text:  "Gotu", sans-serif;
    --main-title-size: 18px;
    --main-title-letter-spacing: .5px;

    --main-text-size: 12px;
    --main-text-font-family: "Sen", sans-serif;
    --main-text-line-height: 1.8em;

    --bullet-text-size: 9px;
}

/* FONTS */
.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gotu-regular {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-text {
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
    color: var(--text-color);
}

.sub-text {
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
    color: var(--sub-text-color);
}

/* BACKGROUND */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

/* NAVBAR */
#navBar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
}

.navIcon {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    gap: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
}

.navIcon p {
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
    letter-spacing: var(--main-title-letter-spacing);
}

#aboutWrapper {
    gap: 4rem;
    width: 100%;
    height: 100%;
}

#aboutContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4.5px solid var(--white);
}

#about {
    display: flex;
    flex-direction: column;
}

#about p {
    color: var(--text-color);
    letter-spacing: var(--main-title-letter-spacing);
    font-family: var(--main-title-text);
}

#about p:nth-child(2) {
    margin-bottom: 1.6rem;
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
    text-align: center;
    color: var(--sub-text-color);
}

#aboutDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
}

#detail i {
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin-top: 3.5px;
    justify-content: center;
}

li {
    list-style-type: none;
}

label {
    font-family: var(--main-text-font-family);
    font-size: var(--bullet-text-size);
    text-transform: uppercase;
    letter-spacing: var(--main-title-letter-spacing);
    color: var(--green);
    font-weight: 600;
}

span {
    color: var(--text-color);
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
}

#categories {
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
}

#aboutDetailsText, #aboutDetailsText2 {
    text-align: center;
    line-height: var(--main-text-line-height);
    font-size: var(--main-text-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#aboutDetailsText i {
    font-size: 1rem;
    color: var(--yellow);
}

#aboutDetailsText2 i {
    font-size: 1rem;
    color: var(--red);
}


/* RESPONSIVE */

@media (max-width: 768px) {
    #aboutWrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    #about p:nth-child(1) {
        text-align: center;
    }
}