* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* LAYOUT HELPER */

.flexCenter { display: flex; justify-content: center; align-items: center; }
.flexStartColumn { display: flex; justify-content: center; align-items: flex-start; flex-direction: column;  }
.flexCenterColumn { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.imgsContain { width: 100%; height: 100%; object-fit: contain; }
.imgsCover { width: 100%; height: 100%; object-fit: cover; }
#imgsRadius { width: 100%; height: 100%; object-fit: contain; border-radius: 100%; }

:root {
    --black: #090909;
    --green: #89A482;
    --white: #fffffd; 
    
    --text-color: #a5a5a5;

    --main-title-text:  "Gotu", sans-serif;
    --main-title-size: 18px;
    --main-title-letter-spacing: .5px;

    --main-text-size: 12px;
    --main-text-font-family: "Sen", sans-serif;
    --main-text-line-height: 1.8em;

    --bullet-text-size: 9px;
}

/* FONTS */
.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gotu-regular {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BACKGROUND */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

/* INFO CARD */

#infoCardWrapper {
    gap: 4rem;
    width: 100%;
    height: 100%;
}

.infoCardContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4.5px solid var(--white);
}

.main-title {
    font-family: var(--main-title-text);
    font-size: var(--main-title-size);
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.main-text {
    line-height: var(--main-text-line-height);
    font-family: var(--main-text-font-family);
    color: var(--text-color);
    font-size: var(--main-text-size);
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

label {
    color: var(--text-color);
    font-family: var(--main-text-font-family);
    font-size: var(--bullet-text-size);
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 4px;
    margin-left: 15px;
    letter-spacing: var(--main-title-letter-spacing);
    color: var(--green);
    font-weight: 600;
}

span {
    color: var(--text-color);
    font-family: var(--main-text-font-family);
    font-size: var(--main-text-size);
}

/* NAV BAR */
#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    color: var(--text-color);
    gap: 0.2rem;
}

.icon p {
    font-family: var(--main-text-font-family);
    font-size: var(--bullet-text-size);
}


/* RESPONSIVE */

@media (max-width: 768px) {
    #infoCardWrapper {
        flex-direction: column;
        gap: 2rem;
    }

    #name, .main-text, #traits {
        text-align: center;
    }

}