* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
}

/* LAYOUT HELPER */

.flexCenter { display: flex; justify-content: center; align-items: center; }
.flexCenterColumn { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.imgsContain { width: 100%; height: 100%; object-fit: contain; }
.imgsCover { width: 100%; height: 100%; object-fit: cover; }
#imgsRadius { width: 100%; height: 100%; object-fit: contain; border-radius: 100%; }

:root {
    --black: #090909;
    
    --text-color: #a5a5a5;

    --main-title-text:  "Gotu", sans-serif;
    --main-title-size: 18px;
    --main-title-letter-spacing: .5px;

    --main-text-size: 12px;
    --main-text-font-family: "Sen", sans-serif;
    --main-text-line-height: 1.8em;
}

/* FONTS */
.sen {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gotu-regular {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* BACKGROUND */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

/* INFO CARD */

#infoCardWrapper {
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.infoCardContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--text-color);
}

.main-title {
    font-family: var(--main-title-text);
    font-size: var(--main-title-size);
    color: var(--text-color);
    margin-bottom: 1rem;
}

.main-text {
    line-height: var(--main-text-line-height);
    font-family: var(--main-text-font-family);
    color: var(--text-color);
    font-size: var(--main-text-size);
}